# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.pytest_cache/
.playwright-mcp/

# Virtual environments
venv/
.venv/
.venv311/
env/

# IDE files
.vscode/
.idea/

# Large model files (tùy chọn nếu model quá nặng > 100MB)
# models/*.bin
# models/*.pt
# models/*.safetensors

.ua/

# macOS
.DS_Store
**/.DS_Store
